.defaultButtonHolder {
    margin-top: 40px;
    button {
        outline: none;
        width: 200px;
        font-size: 24px;
        background: black;
        color: #fff;
        border-radius: 31px;
        border: none;
        font-weight: bold;
        padding: 10px;
    }
}
